@import url('https://fonts.googleapis.com/css2?family=Lobster&family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lobster&family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Major+Mono+Display&display=swap');

* {
    box-sizing: border-box;
    font-size: 16px;
}

body {
    overflow-x: hidden;
    margin: 0;
    padding: 0;
}

::-webkit-scrollbar {
    width: 12px;
    
}

::-webkit-scrollbar-track {
    background-color: rgb(252, 203, 144);
}

::-webkit-scrollbar-thumb {
    background-color: #d57eeb;
}

#content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

a {
    text-decoration: none;
    width: 26%;
}

header {
    z-index: 2;
    position: fixed;
    top: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100vw;
    height: 11vh;
    background-color: #d57eeb;
    border-bottom: 2px solid white;
}

h1 {
    color: white;
    text-shadow: 4px 4px 3px  rgb(156, 100, 220);
    font-size: 2rem;
    margin-left: 8%;
    font-family: 'Major Mono Display', monospace;
}

#nav-bar {
    margin-right: 3%;
    display: flex;
    justify-content: space-between;
    height: 100%;
    width: 40%;
}

.option {
    font-size: 1.2rem;
    font-family: 'Roboto', sans-serif;
    background-color: transparent;
    border: none;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    height: 100%;
    width: 32%;
    transition: all 0.6s;
    outline: none;
}

input[type="radio"] {
    width: 0;
    height: 0;
    opacity: 0;
}

label p {
    font-size: 1.1rem;
    transition: all 0.6s;
}

.border {
    width: 2px;
    height: 50%;
    background-color: white;
    margin-right: 5%;
    transition: all 0.6s;
}

.option:hover .border{
    height: 60%;
    background-color: #fccb90 !important;
}

.option:hover p{
    font-size: 1.5rem;
    color: #fccb90;
}

#main-content {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 11vh;
    width: 100vw;
    height: 89vh;
    background: url("../img/hero-img.jpg");
    background-position: center;
    background-size: 100%;
    background-repeat: no-repeat;
}

main {
    min-height: 89vh;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: linear-gradient(15deg, #13547a 0%, #80d0c7 100%);
}

.box {
    border-radius: 15px;
    z-index: 1;
    width: 35%;
    height: 75%;
    background-image: linear-gradient(120deg, #fccb90 0%, #d57eeb 100%);
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-shadow: -1px 0px 3px black;
    align-items: center;
    box-shadow: 2px 2px 7px 2px #8b5199;
}

.box p {
    padding: 0 15px;
    text-align: justify;
    font-size: 1.3rem;
}

.bg {
    display: flex;
    flex-direction: column;
    text-shadow: -1px 0px 3px black;
}

.menu {
    width: 80%;
    display: grid;
    row-gap: 30px;
    align-items: center;
    justify-content: center;
    grid-template-columns: 1fr;
    margin-bottom: 5%;
}

.card {
    border-bottom: 2px solid white;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    cursor: pointer;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    justify-self: center;
    width: 70%;
    height: 150px;
    top: 0;
    background-color: rgba(209, 196, 18, .7);
    transition: all 1s;
}

.card:hover {
    top: 20px;
    border-bottom: 2px solid #caa373;
    box-shadow: 0px 5px 10px 1px #caa373;
}

.food {
    margin-left: 7%;
    border-radius: 50%;
    border: 5px solid  #8b5199;
    width: 120px;
    height: 120px;
}

.menu-type {
    font-size: 2rem;
    width: 55%;
    font-family: 'Roboto', sans-serif;
    color: white;
    text-shadow: 0px 3px 2px #8b5199;
    transition: all 1s;
}

.menu-content {
    line-height: 2px;
    position: absolute;
    margin-top: 15%;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: center;
    color: white;
}

.menu-content p {
    font-size: 1.5rem;
    font-family: 'Roboto', sans-serif;
}

.arrow {
    position: relative;
    top: 0;
    width: 20px;
    height: 20px;
    transform: rotate(135deg);
    border-top: 3px  solid white;
    border-right: 3px solid white;
    margin-right: 5%;
    transition: border 1s;
    animation: arrowUp .5s forwards linear;
}

.card:hover h3{
    color: #fccb90;
}

.card:hover .arrow{
    border-top: 3px  solid #fccb90;
    border-right: 3px solid #fcb290;
    animation: arrowDown 1s forwards linear;
}

.active {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    justify-self: center;
    width: 70%;
    height: 90vh;
    background-color: rgba(209, 196, 18, .7);
    border-bottom: 2px solid #caa373;
    box-shadow: 0px 5px 10px 1px #caa373;
    transition: height .8s;
}

.active .food {
    margin: 2% 0 0 0;
}

.active h3 {
    position: relative;
    bottom: 30%;
    width: auto;
}

.active .arrow {
    animation: none;
    cursor: pointer;
    position: relative;
    top: -90%;
    left: 45%;
    transform: rotate(-45deg);
}

.active .arrow:hover {
    border-top: 3px  solid #fccb90;
    border-right: 3px solid #fcb290;
}

.contact {
    margin: 0 0 3px 15px;
    display: flex;
    align-items: center;
    color: white;
    align-self: flex-start;
    font-family: 'Roboto', sans-serif;
}

.contact p {
    font-size: 1rem;
}

#cover {
    position: absolute;
    width: 100vw;
    height: 89vh;
    background-color: rgba(11, 113, 137, 0.3);
}

#main-text {
    z-index: 1;
    color: white;
    font-size: 2rem;
    font-family: 'Lobster', cursive;
}

.text {
    text-align: center;
    z-index: 1;
    display: block;
    width: 100%;
    margin-top: -2%;
    color: white;
    font-size: 1.5rem;
    font-family: 'Roboto', sans-serif;
}

#footer {
    z-index: 2;
    position: fixed;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    color: white;
    text-shadow: 2px 2px 3px black;
    font-family: 'Lobster', cursive;
}

#github {
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
}

#git-img {
    width: 30px;
    height: 30px;
    margin-right: 10px;
}


@keyframes arrowDown {
    0% {
        top: 0;
    }
    100% {
        top: 20px;
    }
}

@keyframes arrowUp {
    0% {
        top: 20px;
    }
    100% {
        top: 0;
    }
}